target

# Specific files that should not be considered
# Para el taller lo dejamos subir
#grails-app/conf/customconf/Custom*.groovy

*.log

# IDE-specific
target-eclipse
web-app/WEB-INF/classes/

.idea
atlassian-ide-plugin.xml
Jenna*.iml
