#main {
    padding: 0 10px;
    background-color:rgba(0,0,0,0.7);
    width:800px;
    margin:0 auto 0 auto;
    padding-bottom: 50px;
    text-align:left;
}


#logo{
    width: 20%;
    display: block;
    float: left;
    margin: 0 0 20px -16px;
}

#content {
    width: 800px;
    background-color: rgba(255,255,255,0.8);
    height: auto;
}

#content h1 {
    background-color: #000;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    font-weight: 200;
    padding-right: 120px;
    font-size: 2em;
    margin-top:10px;
}

#header{
    background-color: rgba(255,255,255,0.1);
    height: 25px;
    margin: 0;
}

#header img {
    padding-left: 540px;
    width: 02%;
    padding-top: 3px;
}

#header a {
    float: right;
    color: cornflowerblue;
    text-decoration: none;
    font-size: small;
    padding-top: 3px;
    padding-right: 6px;
}

.nav {
    height: 50px;
    background-color: #000;
    margin-bottom: 10px;
}

.nav ul {
    list-style: none;
    width:100%
}

.nav li a {
    float: left;
    width: 20%;
    padding-top: 10px;
    text-align:center;
    padding-bottom: 10px;
}


.nav li{
    text-decoration:none;
    font-size:small;
    font-weight:lighter;
    color:#fff
}

.nav li a, nav li:hover{
    text-decoration:none;
    font-size:small;
    font-weight:lighter;
    color:#fff
}

